
<style>
    table {
      border-collapse: collapse;
      width:100%;
      max-width:800px;
    }
    
    table, th, td {
      border: 1px solid #eee;
    }
    td, th{
        padding:2px;
        text-align: right;
    }
    th {
        background-color:#ccc;
    }
    td:first-child {
        background-color:#efefef;
    }
</style>

<table>
    <tr>
        <th>Bezirk</th>
        <th>Männer</th>
        <th>Frauen</th>
        <th>Summe</hd>
    </tr>
  @foreach(var record in Model.Records) {

    <tr>
        <td>@record["BEZIRK"]</td>
        <td>@record["MAENNER"]</td>
        <td>@record["FRAUEN"]</td>
        <td><strong>@(Convert.ToInt32(@record["MAENNER"]) + Convert.ToInt32(@record["FRAUEN"]))</strong></td>
    </tr>

  }

    <tr style='border-top: 2px solid #000'>
        <td><strong>Summe</strong></td>
        <td>
            <strong>
            @Model.Records.Sum(r => Convert.ToInt32(r["MAENNER"]))
            </strong>
        </td>
        <td>
            <strong>
            @Model.Records.Sum(r => Convert.ToInt32(r["FRAUEN"]))
            </strong>
        </td>
        <td>
            <strong>
            @(Model.Records.Sum(r => Convert.ToInt32(r["MAENNER"])) +
              Model.Records.Sum(r => Convert.ToInt32(r["FRAUEN"])))
            </strong>
        </td>
    </tr>
</table>
